/* Estilo para el contenedor VBox */
.root {
    -fx-background-color: rgb(213, 222, 238);
    -fx-padding: 20;
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
}

/* Estilo para las etiquetas (Label) */
.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

/* Estilo para las imágenes */
.imageview {
    -fx-border-color: #ccc;
    -fx-border-width: 2px;
    fx-fit-height: 100%;
    -fx-fit-width: 100%;
}

/* Estilo para el botón */
.button {
    -fx-font-size: 14px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

/* Estilo para las imágenes específicas */
#apiImage {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0, 1, 1);
}

#cursoImage {
    -fx-border-color: gray;
    -fx-border-width: 1px;
}

/* Estilo del botón de "Ingresar" */
#continueButton {
    -fx-font-size: 16px;
    -fx-background-color: #009688;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-padding: 12px 24px;
}

/* Estilo para las imágenes */
.imageview {
    -fx-fit-width: 90px;
    /* Ancho máximo */
    -fx-fit-height: 90px;
    /* Altura máxima */
    -fx-preserve-ratio: true;
    /* Mantener la relación de aspecto */
    -fx-background-radius: 50%;
    /* Hacer la imagen circular (si es cuadrada) */
    -fx-border-color: #444;
    /* Bordes grises */
    -fx-border-width: 2px;
    /* Ancho de borde */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 1, 1);
    /* Sombra */
}

.button:hover {
    -fx-background-color: #44b628;
    /* Cambiar color al pasar el ratón */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 1, 1);
}

#tittleWelcome {
    -fx-font-size: 20px;
}

#about {
    -fx-font-size: 10px;
}