/* Estilos generales */
.root {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
}

/* Estilo del título */
.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.144), 10, 0, 0, 5);
}

.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.747), 10, 0, 0, 5);
}

.progress-indicator {
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
}


#titleWelcome {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

/* Diseño de los iconos */
#iconGithub,
#iconLinkedln {
    -fx-opacity: 0.6;
}

#iconGithub:hover,
#iconLinkedln:hover {
    -fx-opacity: 1.0;
    -fx-cursor: hand;
}